<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="csvfilePathOne" value="C:\git\FileComparision\TestFiles\SalesRecords-1.csv" />
      <add key="csvfilePathTwo" value="C:\git\FileComparision\TestFiles\SalesRecords-2.csv" />
      <add key="resultfilePath" value="C:\git\FileComparision\ErrorResult\" />
      <add key="Path" value="C:\git2\" />
    </appSettings>
</configuration>